.feed {
  display: grid;
  grid-template-rows: 1fr auto;

  overflow: hidden;

  .feed__output {
    overflow-y: auto;
    padding: var(--op-space-medium);
  }
}

.feed-bubble {
  background-color: var(--op-color-primary-plus-five);
  color: var(--op-color-primary-on-plus-five-alt);

  padding: var(--op-space-small);
  border-radius: var(--op-radius-large);
}
