.game-page {
  --gf-sidebar-width: calc(75 * var(--op-size-unit));
  --gf-footer-height: calc(50 * var(--op-size-unit));

  display: grid;
  grid-template-columns: 1fr var(--gf-sidebar-width);
  grid-template-rows: 1fr var(--gf-footer-height);

  height: 100%;

  > * {
    box-shadow: var(--op-border-all) var(--op-color-border);
  }
}
